.analysis-container {
  display: flex;
  flex-direction: column;
  padding: 80px;
  /* min-height: 100vh; */
  /* border: 1px solid blue; */
  width: 100%;
  padding-left: 14vw;
  padding-right: 13vw;
  margin: 0 auto;
  /* height: 100vh; */
}
.analysis-header {
  display: flex;
  /* border: 1px solid red */
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.nav button {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  margin-right: 1rem;
  border: none;
  text-decoration: none;
  background: none;
}
.nav button:hover {
  color: var(--white);
  border-bottom: 1px solid white;
}
.nav .active {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
.graph-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bar-container {
  width: 100%;
  border: 1px solid red;
}
.spider-container {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  width: 100%;
}
