.sidebar-container {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100px;
  background-color: #040306;
  /* border: 1px solid red; */
}
.unorderlist-container {
  /* text-align: center; */
  font-size: 1rem;
  list-style: none;
}
.unorderlist-container li {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid blue; */
  width: 100%;
}
.unorderlist-container a {
  text-decoration: none;
}
#profileIcon {
  margin-left: 38px;
}
#wrapIcon {
  margin-left: 38px;
}
#micIcon {
  margin-left: 38px;
}
#spotifyIcon {
  width: 55%;
}
noteIcon {
}
.unorderlist-container li img {
  width: 25%;
}
